<launch>

    <!-- vehicle name -->
    <arg name="vehicle" default="cc2019_car" />

    <!-- topic names -->
    <arg name="prediction_topic" default="" />
    <arg name="correction_topic" default="" />
    <arg name="fused_topic"      default="/fused_obstacles" />

    <!-- base and output frame -->
    <arg name="base_frame" default=""/>

    <!-- output settings -->
    <arg name="output" default="screen" />

    <node name="obstacle_fusion" pkg="drive_ros_obstacle_fusion"
          type="drive_ros_obstacle_fusion_node" output="$(arg output)">
        <remap from="~/prediction" to="$(arg prediction_topic)"/>
        <remap from="~/correction" to="$(arg correction_topic)"/>
        <remap from="~/fused_obstacles" to="$(arg fused_topic)"/>
        <param name="base_frame" type="str" value="$(arg base_frame)"/>
        <rosparam command="load" file="$(find drive_ros_obstacle_fusion)/config/$(arg vehicle).yaml"/>
    </node>


</launch>
